.home{
    text-align: center;
    background-color: #CEB5A2;
    overflow: hidden;
    width: 100vw;
}

span{
    color:#A46B64
}

.bookOfTheMonth{  
    padding-bottom: 20mm;
    font-family: initial;
    display: flex;
    justify-content: center;
    align-items: center;
}


.summary {
    background:#A46B64;
    padding: 5mm;
    font-family: initial;
    width: 20vw;
}

.summary p{
    font-size: 14pt;
    font-weight:bold;
}

.content{
    margin-left: 20mm;
    margin-right: 20mm;  
}

.bio{
    text-align: center;
    width: 40vw;
    padding: 5mm;
    font-family: initial;
    color: #A46B64;
    justify-content: center;
}