.home{
    text-align: center;
}

.bookOfTheMonth{  
    padding-bottom: 20mm;
    font-family: initial;
    display: flex;
    justify-content: column;
    align-items: center;
}


.summary {
    display: flex;
    justify-content: center;
    border: solid gray;
    margin-left: 20mm;
    margin-right: 40mm;
    background:rgba(228, 228, 228, 0.535);
    padding: 5mm;
    font-family: initial;
}

.summary p{
    font-size: 14pt;
    font-weight:bold;
}

.content{
    margin-left: 40mm;
    margin-right: 20mm;  
}

.bio{
    display: flex;
    justify-content: center;
    margin-left: 40mm;
    margin-right: 40mm;
    padding: 5mm;
    font-family: initial;
    color: #A46B64;
}