.navBar{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: #A46B64;
    font-size: 14pt;
    color: white;
    padding-top: 5mm;
    padding-bottom: 5mm;
}